Node-red Flow/flows.json
[{"id":"1db65d61.c39fb3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4bb8fce9.469e04","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"88eaf25d.99bd2","type":"ui_group","z":"","name":"Group","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"20b42e49.432ba2","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#006e7c","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#006e7c","edited":true},"page-titlebar-backgroundColor":{"value":"#006e7c","edited":false},"page-backgroundColor":{"value":"#000000","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#ffffff","edited":true},"group-borderColor":{"value":"#000000","edited":true},"group-backgroundColor":{"value":"#000000","edited":true},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#006e7c","edited":false},"widget-borderColor":{"value":"#000000","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":0,"gy":0,"cx":6,"cy":40,"px":6,"py":6}}},{"id":"4a9a52bb.654c0c","type":"ui_group","z":"","name":"chat","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"af46baef.16cf68","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"99cdeb00.099f98","type":"ui_tab","z":"","name":"ChatBot","icon":"dashboard","disabled":false,"hidden":false},{"id":"43ca5a9.4cf7ca4","type":"ui_group","z":"","name":"Question","tab":"99cdeb00.099f98","order":1,"disp":true,"width":"20","collapse":false},{"id":"bf96e870.23fba8","type":"ui_group","z":"","name":"text_question","tab":"99cdeb00.099f98","order":2,"disp":false,"width":"20","collapse":false},{"id":"a747e465.7dc258","type":"ui_group","z":"","name":"text_answer","tab":"99cdeb00.099f98","order":3,"disp":false,"width":"20","collapse":false},{"id":"f2f2649a.0d0d98","type":"debug","z":"1db65d61.c39fb3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":80,"wires":[]},{"id":"9fc5078a.4851d8","type":"ui_form","z":"1db65d61.c39fb3","name":"","label":"","group":"43ca5a9.4cf7ca4","order":0,"width":0,"height":0,"options":[{"label":"Enter the input","value":"name","type":"text","required":true,"rows":null}],"formValue":{"name":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":140,"wires":[["b056e6e6.63e948"]]},{"id":"b056e6e6.63e948","type":"function","z":"1db65d61.c39fb3","name":"","func":"msg.payload = msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":260,"wires":[["d805767f.603258","3aa6b516.64606a"]]},{"id":"f20fa3bb.469ac","type":"function","z":"1db65d61.c39fb3","name":"","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n        msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n    }\n    msg.payload=msg.payload.text\n}\nelse{\n    msg.payload=msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":280,"wires":[["69adf658.7f7638"]]},{"id":"69adf658.7f7638","type":"ui_text","z":"1db65d61.c39fb3","group":"a747e465.7dc258","order":2,"width":"20","height":"5","name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":850,"y":400,"wires":[]},{"id":"d805767f.603258","type":"watson-conversation-v1","z":"1db65d61.c39fb3","name":"Assistant","workspaceid":"ca1239ad-4206-4b58-b817-aebca21b976f","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.us-east.assistant.watson.cloud.ibm.com/instances/0e302109-ab71-472f-8419-ea0f0a4bc1d3","timeout":"","optout-learning":false,"x":440,"y":180,"wires":[["f2f2649a.0d0d98","f20fa3bb.469ac"]]},{"id":"3aa6b516.64606a","type":"ui_text","z":"1db65d61.c39fb3","group":"bf96e870.23fba8","order":0,"width":"20","height":"1","name":"","label":"You","format":"{{msg.payload}}","layout":"col-center","x":370,"y":360,"wires":[]}]